body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

header > img{
  width: 100%;

  background: center;
}

.opcion-buttom{
  padding: 30px;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;

}

.in-line{
  display: block;
}

#barra-lateral{
  border: 5px solid black;
  float: left;
  background-image:

}

#navegacion{
  border: 2px solid black;
}

#navegacion > input{
  background: #A0E1F6;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: black;
  border: none;
  text-align: center;
  padding: 5px 100px;
  margin-left: 2px;
}
